*{
    background-color: black;
     font-family: Inter;
    color: white;
}
nav a{
    text-decoration: none;
    padding: 5px;
    color: white;
    
}
nav{
    width: auto;
    height: 46px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid white;
    

}
.home{
    background-color: red;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.list1,.hp{

    margin-top: 66px;
    padding: 70px;
    align-items: center;
    
    
}
footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    
}
footer ul{
list-style: none;   
}
