*{
    background-color: black;
     font-family: Inter;
    color: white;
}
p,li{
    color: rgba(255, 255, 255, 0.5);
}
nav a{
    text-decoration: none;
    padding: 5px;
    color: white;
    
}

nav{
    width: auto;
    height: 46px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}
.home{
    background-color: red;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.btn{
    width: 224px;
    height: 54px;
    background-color:red;
    border-radius: 200px;
    box-shadow: none;
}
.bt{
    width: 150px;
    height: 54px;
    border-radius: 200px;
    box-shadow: none;
}

.list1,.hp{

    margin-top: 66px;
    padding: 70px;
    align-items: center;
    
    
}
.banner{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;

}
.banner-content:{
    font-size:xx-large;
    width: 520px;
    height: 282px;
}
button{
    background-color: red;
    border-radius: 50%;

}
.b, .c{
    width: 193px;
    height: 98px;
    display: flex;
    border: 1px solid white;
    border-radius:10px ;
    
}
.text{
 font-family:"Playwrite CU", cursive;;
}
.container{

display:flex;
margin-left: 100px;
margin-right: 100px;
justify-content: space-evenly;
align-items: center;
padding: 0px;


}
.container img{
    border-radius: 50%;
}
.calculator{

    margin: 88px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    border: 1px solid white;
}
.bmi{
    display: flex;
    justify-content: space-evenly;
    
    
    
}
table,th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    
}

.card{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 88px;
    border: 1px solid white;
}

.run{
    width:auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 88px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid white;
    border-radius: 18px;
    background: rgb(34, 34, 34);
     
   
}
.run-content{
    padding-left: 30px;
    padding-top: 30px;
    width: 40%;
    background: rgb(34, 34, 34);
}


.run-img{
    width: 40%;
    background-color:rgb(34, 34, 34) ;
    

    
    
  
}
.meet{
    margin: 88px;
    border: 1px solid white;
}
.images{
    display: grid;
    grid-template-columns:600px 400px 100px;
    object-fit:100%;
    
}
.images>div{
    border: 1px solid wheat;
}

footer{
    display: flex;
    margin: 88px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    border: 1px solid white;
    
}
footer ul{
list-style: none;   
}


/*small device*/
@media  screen and (max-width:576px) {

    
}
/*big device*/
@media  screen and (max-width:576px) {
    
    
}